<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="flex">
        <h2 class="h4 align-center">{result.currentStep.stepFeedback.title}</h2>
    </div>
    <p>{result.currentStep.stepFeedback.description}</p>

    <f:if condition="{result.currentStep.stepFeedback.file}">
        <f:render partial="Progress/Step/Feedback/File" arguments="{file: result.currentStep.stepFeedback.file}" />
    </f:if>
    
    <f:if condition="{result.currentStep.stepFeedback.image}">
        <f:render partial="Progress/Step/Feedback/Image" arguments="{image: result.currentStep.stepFeedback.image}" />
    </f:if>

</html>