<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
    data-namespace-typo3-fluid="true">

    <f:if condition="{result.currentStep}">
    
        <f:render partial="Step/Main/Header" arguments="{_all}" />
        <f:render partial="Step/Main/Intro" arguments="{_all}" />

        <div class="contentbox contentbox--gray contentbox--webcheck webcheck">
            <f:if condition="{result.showStepFeedback}">
                <f:then>
                    <f:render partial="Step/Main/Feedback" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:if condition="{result.currentStep.question}">
                        <f:render partial="Question/Main" arguments="{_all}" />
                    </f:if>
                </f:else>
            </f:if>
            <f:render partial="Global/Footer" arguments="{_all}" />
        </div>
    </f:if>

</html>
