<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="tx-rkw-checkup" >
        <tr>
            <td>
                <f:translate key="tx_rkwcheckup_domain_model_step.title" />
            </td>
            <td>
                {result.currentStep.stepFeedback.title}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_rkwcheckup_domain_model_step.description" />
            </td>
            <td>
                {result.currentStep.stepFeedback.description}
            </td>
        </tr>
    </table>

    <p>XXX zeige Bild XXX</p>

    <p>XXX zeige Datei XXX</p>

    <p>XXX Zeige nochmal die Antwort(en) zur aktuellen Frage an??? XXX</p>

</html>