<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <table class="tx-rkw-checkup" >
        <tr>
            <td>
                <f:translate key="tx_rkwcheckup_domain_model_section.title" />
            </td>
            <td>
                {result.currentSection.title}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_rkwcheckup_domain_model_section.description" />
            </td>
            <td>
                {result.currentSection.description}
            </td>
        </tr>
    </table>


    <f:if condition="{result.currentStep}">
        <f:render partial="Step/FormFields" arguments="{_all}" />
    </f:if>
</html>