<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <f:comment><!-- additional fields of resultAnswer--></f:comment>
    <f:form.hidden property="newResultAnswer.{questionIter.cycle}.question" value="{question.uid}" />
    <f:form.hidden property="newResultAnswer.{questionIter.cycle}.step" value="{result.currentStep.uid}" />
    <f:form.hidden property="newResultAnswer.{questionIter.cycle}.section" value="{result.currentSection.uid}" />


    <div class="form__field form__field--webcheck">
        <label>
            <f:if condition="{question.titleTextInput}">
                <f:then>
                    {question.titleTextInput}
                </f:then>
                <f:else>
                    (Optional) Sonstiges
                </f:else>
            </f:if>

        </label>
        <f:form.textfield
            property="newResultAnswer.{questionIter.cycle}.freeTextInput"
        />
    </div>


</html>