<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <p class="webcheck__hint">
        <f:if condition="{question.mandatory}">
            <f:then>
                Bitte wählen Sie eine Option aus.
            </f:then>
            <f:else>
                Bitte wählen Sie maximal eine Option aus.
            </f:else>
        </f:if>
    </p>

    <f:comment><!-- additional fields of resultAnswer--></f:comment>
    <f:form.hidden property="newResultAnswer.{questionIter.index}.question" value="{question.uid}" />
    <f:form.hidden property="newResultAnswer.{questionIter.index}.step" value="{result.currentStep.uid}" />
    <f:form.hidden property="newResultAnswer.{questionIter.index}.section" value="{result.currentSection.uid}" />

    <table class="responsive-table responsive-table--background rating-list">
        <thead>
            <tr>
                <f:if condition="{question.scaleLeft}"><th>&nbsp;</th></f:if>
                <f:for each="{question.answer}" as="answer" iteration="answerIter">
                    <th>{answer.title}</th>
                </f:for>
            </tr>
        </thead>         
        <tbody>
            <tr>
                <f:if condition="{question.scaleLeft}"><th>{question.scaleLeft}</th></f:if>
                <f:for each="{question.answer}" as="answer" iteration="answerIter">
                    <td>
                        <f:form.radio
                            id="answer{answer.uid}"
                            class="radio"
                            property="newResultAnswer.{questionIter.index}.answer"
                            value="{answer.uid}"
                        />
                        <label for="answer{answer.uid}" class="radio-label">
                        <span>
                            {answer.title}
                        </span>
                        </label>
                    </td>
                </f:for>
            </tr>
        </tbody>
    </table>

</html>