<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwCheckup="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:for each="{result.currentStep.question}" as="question" iteration="questionIter">

        <f:if condition="{rkwCheckup:checkQuestionVisibility(result: '{result}', question: '{question}')}" >

            <div class="contentbox contentbox--gray contentbox--webcheck webcheck">
                <div class="flex">
                    <h2 class="h4 align-center">
                        {question.title}
                    </h2>
                </div>
                <p>{question.description}</p>

                <f:if condition="{question.answer}">

                    <div class="webcheck__questions mt-1">
                        <f:render partial="Answer/FormFields" arguments="{_all}" />
                    </div>

                </f:if>
            </div>

            <f:comment><!-- Free Text Input. Special case, not a "real" question with answers. Just a checkbox value --></f:comment>
            <f:if condition="{question.allowTextInput}">
                <f:render partial="Answer/FreeTextInput" arguments="{_all}" />
            </f:if>
        </f:if>

        <br />
    </f:for>


</html>