<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">


    <f:for each="{result.currentStep.questionContainer}" as="questionContainer" iteration="questionIter">
        <f:comment><!-- skip additional container nesting (it's a 1to1 relation) --></f:comment>
        <f:variable name="question" value="{questionContainer.question}"/>

        <f:if condition="{rkw:checkQuestionVisibility(result: '{result}', question: '{question}')}" >

            <div class="contentbox contentbox--gray contentbox--webcheck webcheck">
                <div class="flex">
                    <h2 class="h4 align-center">
                        {question.title}
                    </h2>
                </div>
                <p>{question.description}</p>

                <f:if condition="{question.answer}">

                    <div class="webcheck__questions mt-1">
                        <f:render partial="Answer/FormFields" arguments="{_all}" />
                    </div>

                </f:if>
            </div>

        </f:if>

        <br />
    </f:for>


</html>