<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    <f:form.validationResults>
        <f:variable name="errors" value="{rkwCheckup:getErrorsByQuestion(question:question, error: validationResults)}" />
        <f:if condition="{errors}">
            <div class="system-message system-message--scroll" role="alert">
                <f:for each="{errors}" as="error">
                    <div class="system-message__item system-message__item--alert-error">
                        {error.message}
                    </div>
                </f:for>
            </div>
        </f:if>
    </f:form.validationResults>
</html>