<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwCheckup="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    This Template is responsible for displaying a single view for a domain object

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
      Resources:
        Private:
          Templates:
            Show.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="content">

        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <f:be.container
            includeCssFiles="{0: '{f:uri.resource(path:\'Styles/Backend/BackendModule.css\')}'}"
            includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/Backend/Backend.js\')}'}"
        >
            <script type="text/javascript">
                // Load Charts and the corechart package.
                google.charts.load('current', {'packages':['corechart']});
            </script>

            <h1>{checkup.title}</h1>

            <f:comment>
                <div id="chart_div"></div>
            </f:comment>



            <f:flashMessages />

            <f:if condition="{checkup}">
                <f:else>
                    <f:translate key="templates_backend_show.no_check_selected" />
                </f:else>
                <f:then>
                    <f:link.action
                            action="csvExport"
                            target="_blank"
                            arguments="{checkup:checkup}"
                            style="float: right; background-color: orangered; padding: 5px;">
                        CSV Export
                    </f:link.action>
                    <br/>
                    <strong>
                        <f:translate key="templates_backend_show.finished_checks_total" />: {checkupResultCountTotal}
                    </strong>
                    <br/><br/>
                    <f:for each="{checkup.section}" as="section" iteration="sectionIter">
                        <button
                            id="tablink{sectionIter.cycle}"
                            class="tablinks{f:if(condition:'{sectionIter.isFirst}', then:' active')}"
                            onclick="openTab(event, 'tablink{sectionIter.cycle}')"
                        >
                            {sectionIter.cycle}. {section.title}
                        </button>
                    </f:for>

                    <f:for each="{checkup.section}" as="section" iteration="sectionIter">
                        <div id="content-tablink{sectionIter.cycle}" class="tabcontent{f:if(condition:'{sectionIter.isFirst}', then:' first-element')}">
                            <h1><strong>({sectionIter.cycle}) <f:translate key="templates_backend_show.section" />:</strong> {section.title}</h1>
                            <p>{section.description}</p>

                            <button
                                id="toggle-section{sectionIter.cycle}"
                                class="toggle-accordions default-btn">
                                <f:translate key="templates_backend_show.toggle_steps" />
                            </button>

                            <f:for each="{section.step}" as="step" iteration="stepIter">
                                <button
                                    id="accordion-{sectionIter.cycle}-{stepIter.cycle}"
                                    class="accordion active accordion-toggle-section{sectionIter.cycle}"
                                >
                                    <strong><f:translate key="templates_backend_show.step" /> {stepIter.cycle}:</strong> {step.title}
                                    <br/>
                                    <f:if condition="{step.description}">
                                        ({step.description})
                                    </f:if>
                                </button>
                                <div id="panel-accordion-{sectionIter.cycle}-{stepIter.cycle}" class="toggle-section{sectionIter.cycle} panel{f:if(condition:'{stepIter.isFirst}', then:' first-element')}" style="display: block;">
                                    <f:for each="{step.question}" as="question" iteration="questionIter">
                                        <div class="question-header">
                                            <h4><strong>({questionIter.cycle})  <f:translate key="templates_backend_show.question" />:</strong> {question.title}</h4>
                                            <p>{question.description}</p>
                                            <p>
                                                <f:translate key="templates_backend_show.type" />: <strong><f:translate key="templates_backend_show.record_type.I.{question.recordType}" /></strong>
                                                (<f:translate key="templates_backend_show.mandatory" />: <f:if condition="{question.mandatory}"><f:then><f:translate key="templates_backend_show.mandatory.yes" /></f:then><f:else><f:translate key="templates_backend_show.mandatory.no" /></f:else></f:if>)
                                            </p>
                                        </div>
                                        <br/>
                                        <div class="question-result">
                                            <f:render section="graph" arguments="{_all}" />
                                            <f:render section="table" arguments="{_all}" />
                                            <f:render section="tableFreetext" arguments="{_all}" />
                                        </div>

                                        <br/>
                                    </f:for>
                                </div>
                            </f:for>
                        </div>
                    </f:for>
                </f:then>
            </f:if>



        </f:be.container>
    </f:section>


    <f:section name="graph">
        <script type="text/javascript">

            var $fnChartName = 'googleGraph{sectionIter.cycle}{stepIter.cycle}';

            google.charts.setOnLoadCallback(fnChartName);

            function fnChartName() {
                var data = new google.visualization.arrayToDataTable([
                    ['<f:translate key="templates_backend_show.question" />', '<f:translate key="templates_backend_show.percent" />', { role: 'style' }],
                    <f:for each="{question.answer}" as="answer">
                        [
                        '<rkwCheckup:percentCalc sum="<rkwCheckup:backend.countResultAnswer answer='{answer}' />" maxSum="<rkwCheckup:backend.countResultAnswer question='{question}' />" />% [<rkwCheckup:backend.countResultAnswer answer='{answer}'/>] - {answer.title}',
                        <rkwCheckup:percentCalc sum="<rkwCheckup:backend.countResultAnswer answer='{answer}' />" maxSum="<rkwCheckup:backend.countResultAnswer question='{question}' />" />,
                        'color: grey'
                        ],
                    </f:for>
                ]);

                var options = {
                    title: '% [Σ] - <f:translate key="templates_backend_show.answer" />',
                    titleTextStyle: {
                        color: 'orangered',
                    },
                    hAxis: {
                        title: '<f:translate key="templates_backend_show.percent" />',
                        viewWindow: {
                            /*max: 100,*/
                            min: 0
                        },
                        titleTextStyle: {
                            color: 'orangered',
                        },
                    },
                    vAxis: {
                        textStyle: {
                            color: 'orangered',
                            bold: true,
                            fontSize: 10,
                        },
                        textPosition: "in",
                        titleTextStyle: {
                            color: 'orangered',
                        },
                    },
                    width: 1200,
                    height: 500,
                    backgroundColor: '#0f0f0f',

                    legend: {
                        position: 'none'
                    },
                    chartArea: {
                        width: "90%",
                        left: "50"
                    },
                };

                var chart = new google.visualization.BarChart(document.getElementById('top_x_div-{sectionIter.cycle}-{stepIter.cycle}'));
                chart.draw(data, options);

            };


        </script>
        <div id="top_x_div-{sectionIter.cycle}-{stepIter.cycle}"></div>

    </f:section>

    <f:section name="table">
        <table>
            <thead>
            <tr>
                <th>
                    %
                </th>
                <th>
                    Σ
                </th>
                <th>
                    <f:translate key="templates_backend_show.answer" />
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{question.answer}" as="answer">
                <tr>
                    <td class="center" style="min-width: 30px;">
                        <rkwCheckup:percentCalc sum="<rkwCheckup:backend.countResultAnswer answer='{answer}' />" maxSum="<rkwCheckup:backend.countResultAnswer question='{question}' />" />%
                    </td>
                    <td class="center" style="min-width: 30px;">
                        <rkwCheckup:backend.countResultAnswer answer="{answer}" />
                    </td>
                    <td>
                        {answer.title}
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:section>



    <f:section name="tableFreetext">

        <f:if condition="{question.allowTextInput}">
            <table>
                <thead>
                <tr>
                    <th>
                        <f:translate key="templates_backend_show.answer.freetext" /> (Σ: <rkwCheckup:getFreeTextAnswerList question="{question}" count="true" />)
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="<rkwCheckup:getFreeTextAnswerList question='{question}' />" as="answerResultWithText">
                    <tr>
                        <td style="min-width: 30px;">
                            {answerResultWithText.freeTextInput}
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:if>

    </f:section>

    </html>
