<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwCheckup="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    This Template is responsible for displaying a single view for a domain object

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
      Resources:
        Private:
          Templates:
            Show.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="content">
    <h1>{checkup.title}</h1>

    <f:flashMessages />

        <f:if condition="{checkup}">
            <f:else>
                <f:translate key="templates_backend_show.no_check_selected" />
            </f:else>
            <f:then>
                <strong>
                    <f:translate key="templates_backend_show.finished_checks_total" />: {checkupResultCountTotal}
                </strong>
                <br/><br/>

                <f:for each="{checkup.section}" as="section" iteration="sectionIter">
                    ##############################################################################################
                    <p><strong>({sectionIter.cycle}) <f:translate key="templates_backend_show.section" />:</strong> {section.title}</p>
                    <p>{section.description}</p>
                    ##############################################################################################
                    <br/>
                    <f:for each="{section.step}" as="step" iteration="stepIter">
                        ##################################################
                        <p><strong>({stepIter.cycle}) <f:translate key="templates_backend_show.step" />:</strong> {step.title}</p>
                        <p>{step.description}</p>
                        ##################################################
                        <br/>
                        <f:for each="{step.question}" as="question" iteration="questionIter">
                            ##########################
                            <p><strong>({questionIter.cycle})  <f:translate key="templates_backend_show.question" />:</strong> {question.title}</p>
                            <p>{question.description}</p>
                            <p>
                                <f:translate key="templates_backend_show.type" />: <f:translate key="templates_backend_show.record_type.I.{question.recordType}" />
                                (<f:translate key="templates_backend_show.mandatory" />: <f:if condition="{question.mandatory}"><f:then><f:translate key="templates_backend_show.mandatory.yes" /></f:then><f:else><f:translate key="templates_backend_show.mandatory.no" /></f:else></f:if>)
                            </p>
                            ##########################
                            <f:for each="{question.answer}" as="answer">
                                <p><f:translate key="templates_backend_show.answer" />: {answer.title}</p>
                                <p>{answer.description}</p>
                                <p><strong> <f:translate key="templates_backend_show.answer.amount" />:</strong> <rkwCheckup:backend.countResultAnswer answer="{answer}" /> (<rkwCheckup:percentCalc sum="<rkwCheckup:backend.countResultAnswer answer='{answer}' />" maxSum="<rkwCheckup:backend.countResultAnswer question='{question}' />" />%)</p>
                            </f:for>
                            <!-- Freetext answers -->
                            <f:if condition="{question.allowTextInput}">
                                <p><strong><f:translate key="templates_backend_show.answer.freetext" />:</strong></p>
                                <p><strong><f:translate key="templates_backend_show.answer.amount" />:</strong> <rkwCheckup:getFreeTextAnswerList question="{question}" count="true" /> (<rkwCheckup:percentCalc sum="<rkwCheckup:getFreeTextAnswerList question='{question}' count='true' />" maxSum="<rkwCheckup:backend.countResultAnswer question='{question}' />" />%)</p>
                                <f:for each="<rkwCheckup:getFreeTextAnswerList question='{question}' />" as="answerResultWithText">
                                    <p>{answerResultWithText.freeTextInput}</p>
                                </f:for>
                            </f:if>
                            <br/>
                        </f:for>
                    </f:for>


                </f:for>
            </f:then>
        </f:if>



    </f:section>
</html>
