<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
   
    <f:section name="main">
        <h2 id="tx-rkwcheckup-main">{checkup.title}</h2>
        
        <f:render partial="FlashMessages" arguments="{_all}" />
        <f:render partial="FormErrors" arguments="{object:startForm}" />

        <p><f:format.nl2br>{checkup.description}</f:format.nl2br></p>
        
        <f:form action="new" enctype="multipart/form-data" name="startForm" section="tx-rkwcheckup-main">

            <div class="flex-container">
                <div class="form flex flex-basis-6 full-width-medium space-between">

                    <!-- dummy field for validator -->
                    <f:form.textfield name="dummy" value="1" type="hidden" />

                    <feRegister:consent type="terms"/>

                    <f:form.submit
                        class="btn btn--primary"
                        value="{f:translate(key: 'templates_checkup_index.startCheck')}" />
                </div>
            </div>
        </f:form>  
    
    </f:section>
</html>