<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwCheckup="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    xmlns:rkwAjax="http://typo3.org/ns/RKW/RkwAjax/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:comment>
            <p>Dein CHECKLINK zum später fortsetzen <f:link.action noCacheHash="true" action="progress" arguments="{result: result}" absolute="true"> Dieser Link </f:link.action> </p>
        </f:comment>

        <f:comment>
            <!-- does we need FlashMessages here? -->
            <f:render partial="Global/FlashMessages" arguments="{_all}" />
        </f:comment>
        
        <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">
            <div>

                <f:form
                    action="validate"
                    method="post"
                    enctype="multipart/form-data"
                    name="result"
                    object="{result}"
                    class="ajax-scroll-top {f:if(condition: '{result.lastStep}', else: 'ajax ajax-submit-only')}"
                    additionalParams="{rkw_ajax: '{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \'1\'}'}"
                >

                    <f:if condition="{result.showSectionIntro}">
                        <f:then>
                            <f:render partial="Section" arguments="{_all}" />
                        </f:then>
                        <f:else>
                            <f:render partial="Step" arguments="{_all}" />
                        </f:else>
                    </f:if>
                    
                </f:form>
            </div>
        </rkwAjax:ajaxWrapper>
    </f:section>
</html>