<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwCheckup/ViewHelpers"
    xmlns:rkwAjax="http://typo3.org/ns/RKW/RkwAjax/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    This template displays a NEW form for the current domain object.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
      Resources:
        Private:
          Templates:
            New.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <f:comment>
            <p>Dein CHECKLINK zum später fortsetzen <f:link.action noCacheHash="true" action="progress" arguments="{result: result}" absolute="true"> Dieser Link </f:link.action> </p>
        </f:comment>

        <f:comment>
            <!-- does we need FlashMessages here? -->
            <f:render partial="FlashMessages" arguments="{_all}" />
        </f:comment>
        <rkwAjax:ajaxWrapper ajaxHelper="{ajaxHelper}" ajaxAction="replace" ajaxId="1">
            <div>

                <f:form
                    action="validate"
                    method="post"
                    enctype="multipart/form-data"
                    name="result"
                    object="{result}"
                    class="ajax-scroll-top {f:if(condition: '{result.lastStep}', else: 'ajax ajax-submit-only')}"
                    additionalParams="{rkw_ajax: '{key: ajaxHelper.key, cid: ajaxHelper.contentUid, idl: \'1\'}'}"
                >

                    <f:render partial="FormErrors" arguments="{object:Result}" />

                    <f:if condition="{result.lastStep}">
                        <f:comment><!-- if this is the last step, set "finished" flag to result --></f:comment>
                        <f:form.hidden property="finished" value="1" />
                    </f:if>

                    <f:render partial="Checkup/FormFields" arguments="{_all}" />

                    <div class="button-footer flex space-between flex-basis-12 mt-2">
                        <div></div>
                        <div class="steps">
                            <span>
                                {f:translate(key: 'templates_checkup_progress.progress')}
                                {rkw:calculateProgress(result: '{result}')} %
                            </span>
                        </div>
                        <f:if condition="{result.lastStep}">
                            <f:then>
                                <f:form.submit class="btn btn--primary" value="Abschließen" />
                            </f:then>
                            <f:else>
                                <f:form.submit class="btn btn--primary" value="Weiter" />
                            </f:else>
                        </f:if>
                    </div>

                </f:form>
            </div>
        </rkwAjax:ajaxWrapper>
    </f:section>
</html>