<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    This Template is responsible for displaying a single view for a domain object

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
      Resources:
        Private:
          Templates:
            Show.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">
        <h1>{result.checkup.title}</h1>

        <p>Dein CHECKLINK zum ergebnis nochmal anschauen <f:link.action action="show" arguments="{result: result}" absolute="true"> Dieser Link </f:link.action> </p>

        <div class="webcheck-description flex space-between">
            <div class="info-flag info-flag--results info-flag--left flex-basis-4">
                <h3 class="info-flag__headline">Durchgeführt am</h3>
                <span class="info-flag__text info-flag__text--good">
                    <f:format.date format="d.m.y">{result.crdate}</f:format.date>
                </span>
            </div>
            <div class="description-text flex-basis-8">
                <p>{result.checkup.description}</p>
            </div>
        </div>

        <f:flashMessages />

        <div class="section">

                <p class="anchor-nav__header">Inhaltsverzeichnis</p>
                <ul class="anchor-nav__list">
                    <li><a href="#anchor1" data-target="#anchor1">Anchor 1: Lorem ipsum dolor sit amet, consectetuer adipiscing.</a></li>
                    <li><a href="#anchor2" data-target="#anchor2">Anchor 2: Aenean commodo ligula eget dolor.</a></li>
                    <li><a href="#anchor3" data-target="#anchor3">Anchor 3: Aenean massa.</a></li>
                </ul>

            <f:for each="{result.checkup.section}" as="section">

                <div class="contentbox contentbox--border feedback-box mt-1">
                    <f:render partial="Result/Section" arguments="{_all}" />
                </div>

            </f:for>

        </div>
	</f:section>
</html>